/.vscode
node_modules
dist
venv
.venv

out
latex-cache/*

rename.sh
tester.tex
.env
*output*

*.synctex
*.synctex(busy)
*.aux
*.bcf
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.app
*.mf
.DS_Store
.vscode/ltex.hiddenFalsePositives.de-DE.txt
benchmark/latex-cache/main.pdf
