/.vscode
/node_modules
/dist
/venv
/.venv

/out
/latex-cache/*

TODO.md
rename.sh
tester.tex
.env

*.synctex
*.synctex(busy)
*.aux
*.bcf
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.app
*.mf
.DS_Store
.vscode/ltex.hiddenFalsePositives.de-DE.txt
